.ReviewLetter {
    width: 300px;
    padding: 50px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    position: relative;

    .cnt_revi {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .re_name {
            color: var(--white);
            font-size: 1.2rem;
        }
    }

    .shape {
        position: absolute;
        right: 0;
        bottom: 0;
        background: var(--c200);
        width: 50px;
        aspect-ratio: 1;
        --g: /37.02% 37.02% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
        mask: radial-gradient(100% 100%, #000 calc(25.476% - 1px), rgba(0, 0, 0, 0) 25.476%) intersect, radial-gradient(#000 0 0) exclude, 100% 50% var(--g), 65.451% 97.553% var(--g), 9.549% 79.389% var(--g), 9.549% 20.611% var(--g), 65.451% 2.447% var(--g);
    }
}