.PrivacyPolicies {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;

    position: relative;
    align-items: center;
    // padding: 30px 0;

    .cnt_priv {
        width: 90vw;
        margin: 40px 0;
        background: rgb(6, 16, 67);
        background: linear-gradient(309deg, rgba(6, 16, 67, 1) 19%, rgba(91, 6, 110, 1) 100%);
        border-radius: 20px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        overflow: hidden;

        @media (max-width: 768px) {
            margin-top: 60px;
            padding: 30px 5px;
        }

        .cnt_info{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .block_info{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .block_title{
                    font-size: 1.2rem;
                    color: var(--white);
                }
            }
        }

        .priv_mark{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}