.Calendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 70vh;

    @media (min-width: 1919px) and (max-width: 2500px) {
        height: 60vh;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        height: auto;
        padding: 50px 0;
    }

    .cal-left {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .stain {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background: #2C61FF33;
            z-index: 1;
            filter: blur(50px);
            -webkit-filter: blur(50px);

            @media (max-width: 768px) {
                width: 90%;
            }


        }

        .cal_img {
            position: static;
            z-index: 2;
            width: 350px;

            @media (max-width: 768px) {
                width: 250px;
            }
        }
    }

    .cal-right {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 768px) {
            gap: 15px;
        }

        .cnt_desc {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 25px;

            .cal_btn {
                @media (max-width: 768px) {
                    width: 100%;
                }
            }

        }
    }
}